@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --radius: 0.5rem;
}

html {
  color-scheme: dark;
}

body {
  @apply bg-background text-foreground antialiased;
}

.container {
  @apply mx-auto px-4 md:px-6 lg:px-8;
}
